<section class="main-section container">
  <article>
    <div class="row" *ngFor="let cartItem of cartService.cart">
      <div class="col-6 col-lg-4">
        <div class="center-div mb-4" [style.flex-direction]="'column'">
          <img [src]="cartItem.icon"
               [alt]="cartItem.name"
               class="img-fluid mb-3">
        </div>
      </div>
      <div class="col-6 d-flex flex-column justify-content-between">
        <h4>{{cartItem.name}}</h4>
        <div>
          {{cartItem.price | currency:'EUR'}}
        </div>
        <div>
          TALLA: {{cartItem.size}}
        </div>
        <div>
          CANTIDAD: {{cartItem.quantity}}
        </div>

        <button class="btn btn-dark w-100"
                (click)="remove(cartItem)">
          ELIMINAR
        </button>
        <hr class="badge-dark">
      </div>
    </div>
    <ng-container *ngIf="!(cartService.cart.length)">
      <h2>NO HAY PRODUCTOS EN EL CARRITO</h2>
      <button class="btn btn-dark w-100"
              routerLink="/">
        VOLVER A LA TIENDA
      </button>
    </ng-container>
    <hr class="badge-dark">
    <h2>TOTAL: {{cartService.totalPrice | currency:'EUR'}}</h2>
  </article>
</section>


